@media all and (max-width: 1200px) {

    .main-header,
    .main-section {
        padding: 1% 12%;
    }

    .content {
        display: flex;
        margin-top: 3%;
        margin-bottom: 3%;
        align-items: center;
        justify-content: space-between;
    }

    .form {
        width: 48%;
    }

    .form h1 {
        font-size: 32px;
    }

    .details input {
        width: 75%;
    }

    .content-image {
        width: 48%;
    }
}


@media all and (max-width: 800px) {
    
    .main-header,
    .main-section {
        padding: 1% 10%;
    }

    .form h1 {
        font-size: 30px;
    }

    .details input {
        width: 80%;
    }
}


@media all and (max-width: 650px) {

    .main-header,
    .main-section {
        padding: 1% 8%;
    }

    .form h1 {
        font-size: 26px;
    }

    .list li a, .text {
        font-size: 16px;
    }

    .details input {
        width: 85%;
    }
}


@media all and (max-width: 550px) {

  
.main-header, .content {
    flex-direction: column;
    align-items: center;
}

.main-header {
    padding: 1% 0%;
}

.main-header nav {
    width: 100%;
}

.list {
    justify-content: space-evenly;
}

.form, .content-image {
    width: 100%;
}

    .form h1 {
        font-size: 24px;
    }

    .details input {
        width: 95%;
    }
}